{% extends "base.html" %}
{% block content %}
{% for message in messages %}
<p class="text-danger text-center" id="messages">{{message}}</p>
{% endfor %}
<div>
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select class="form-control" name="select_judge">
                        {% if searched_judge %}
                            {% for judge_obj in all_judges %}
                                {% if judge_obj.id == searched_judge %}
                                <option value="">{{judge_obj.user.user.first_name}}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <option value="">Search By Judge</option>
                        {% endif %}
                        {% for judge in all_judges %}
                        <option value="{{judge.id}}">{{judge.user.user.first_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <select class="form-control" name="select_court">
                        {% if searched_court %}
                            {% for court_obj in all_courts %}
                                {% if court_obj.id == searched_court %}
                                    <option value="">{{court_obj.court_name}}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <option value="">Search By Court</option>
                        {% endif %}
                        {% for court in all_courts %}
                        <option value="{{court.id}}">{{court.court_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <button class="btn btn-success btn-sm mb-2" type="submit" style="font-size: 15px;">
                        <i class="fas fa-search">&nbsp;</i>
                        Search
                    </button> 
                    &nbsp;&nbsp;
                    <a href="{% url 'cases_overview_page' %}" class="btn btn-danger btn-sm mb-2" style="font-size: 15px;">
                        Reset Filter
                    </a>
                </div>
            </div>  
        </div>
    </form>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="file_export">
        <thead>
            <tr>
                <th style="min-width: 10rem;">Case Type</th>
                <th>Total</th>
                {% for status in case_status %}
                    <th style="min-width: 10rem;">{{status.0}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total</td>
                {% for total in total_status_case %}
                <td>{{total}}</td>
                {% endfor %}
            </tr>
            {% for data in final_data %}
            <tr>
                <td>{{data.case_type}}</td>
                <td>{{data.total}}</td>
                {% for status_obj in data.status %}
                <td>{{status_obj.status_count}}</td>
                {% endfor %}

        
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}