{% extends "base.html" %}
{% block content %}
{% for message in messages %}
<p class="text-danger text-center" id="messages">{{message}}</p>
{% endfor %}
<div class="float-right">
    <button class="btn btn-warning text-white" data-toggle="modal" data-target="#add_court_modal"><i
            class="fas fa-plus"></i> Add New Court</button>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="file_export">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 45%;">Court Name</th>
                <th style="width: 10%;">Total Cases</th>
                <th style="width: 30%;">Judge</th>
                <th style="width: 10%;"></th>
            </tr>
        </thead>
        <tbody>
            {% for court in courts %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{court.court}}</td>
                <td>{{court.total_case}}</td>
                <td>
                    {% for judge in court.judge %}
                        {{judge}} <br>
                    {% endfor %}
                </td>
                <td><button class=" btn btn-danger" id="court_{{court.court_id}}" onclick="edit_court_popup(this)">
                    <i class="fas fa-edit"></i></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- add court modal  -->
<div class="modal fade" id="add_court_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Add New Court
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" id="form_id">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Court Name</label>
                        <input type="text" class="form-control" placeholder="name.." name="name" id="" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" type="submit" name="add_court_name" id="">Add</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>

<!-- edit court popup  -->
<div class="modal fade" id="edit_court_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" id="edit_form_id">
                    {% csrf_token %}
                    <div class="form-group mb-4" style="display: none;">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Court Id</label>
                        <input type="text" class="form-control" placeholder="name.." name="court_id" id="court_id" required>
                    </div>
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Court Name</label>
                        <input type="text" class="form-control" placeholder="name.." name="edited_name" id="edit_name" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" name="edit_court_name" type="submit" id="">Update</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>
<script>
    function edit_court_popup(t) {
            // var pill_id = 'pill-' + question_id + '-tab';
            $('#cover-spin').show(0);
            if (t.id.length > 0) {
                var court_id = t.id.split('_')[1];
                document.getElementById('court_id').value = court_id;
                console.log('id', court_id)
            } else { alert('something went wrong please try again') }

            fetch("/edit_court_name/", {
                method: "POST",
                body: JSON.stringify({
                    data_obj: court_id,
                }),
                // Adding headers to the request
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            })
                .then((response) => {
                    console.log(response);
                    if (response.redirected) {
                        window.location.href = response.url;
                        return;
                    }
                    return response.json();
                })
                .then((data) => {
                    console.log("Success: ", data);
                    if (data.msg == 'success') {
                        document.getElementById('edit_name').value = data.court_name
                        $('#cover-spin').hide(0);
                        $('#edit_court_modal').modal('toggle');
                    }
                    else {
                        alert("Something went Wrong please refresh the page");
                        $('#cover-spin').hide(0);
                    }
                });
        }
</script>
{% endblock %}